/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav > .active > a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important; }

body {
  background-color: #f4f4f4;
  font-family: "Droid Sans", sans-serif;
  color: #394d54; }

.navbar a.brand {
  font-family: "Cabin Condensed", sans-serif;
  color: #129bca;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  float: left;
  margin-left: -20px;
  padding: 10px 20px;
  text-shadow: 0 1px 0 #e7e7e7; }
  .navbar a.brand:hover {
    color: #24b8eb; }
  .navbar a.brand .suffix {
    font-size: 20px;
    margin-left: -5px; }
.navbar .avatar {
  margin-right: 10px; }
.navbar .icon-sort-down {
  vertical-align: 15%; }

.navbar .nav > li > a {
  line-height: 35px;
  padding: 10px 10px;
  color: #777777;
  float: none;
  text-decoration: none;
  text-shadow: 0 1px 0 #e7e7e7; }

.navbar .nav > li > span {
  line-height: 35px;
  padding: 10px 0;
  display: block; }

.navbar-inner {
  background-color: #e7e7e7;
  background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7);
  background-repeat: repeat-x;
  min-height: 40px; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.blocks .span6.tar {
  padding-right: 10px; }
.blocks .span6.tal {
  padding-left: 10px; }

strong {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px; }

.container {
  text-align: center; }

.row-fluid {
  margin-bottom: 40px; }
  .row-fluid.mail {
    margin-bottom: 0; }
  .row-fluid.social {
    margin-bottom: 0;
    font-size: 16px; }
    .row-fluid.social a, .row-fluid.social a:hover {
      text-decoration: none; }
      .row-fluid.social a:first-child, .row-fluid.social a:hover:first-child {
        margin-right: 5px; }
  .row-fluid.links li {
    padding-left: 1px;
    padding-right: 1px; }
    .row-fluid.links li a {
      text-decoration: underline; }

.first {
  margin-top: 140px;
  margin-bottom: 10px; }

h1 {
  font-family: "Cabin Condensed", sans-serif;
  color: #394d54; }
  h1 .suffix {
    font-size: 20px; }

h2, h3 {
  color: #24b8eb;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  font-weight: normal; }

a, a:hover, a:visited {
  color: #394d54; }

.contact p {
  margin: 0 0 -5px 0; }

#mc_embed_signup {
  text-align: center;
  font: 14px; }
  #mc_embed_signup form {
    text-align: center; }
  #mc_embed_signup input.email {
    margin: 0 auto; }
  #mc_embed_signup input.button {
    margin: 0 auto;
    margin-top: 7px;
    min-width: 58%;
    width: 58%; }
